{% extends 'base.html' %}

{% block title %}
    Gestion Entreprise Epic Events
{% endblock title %}

{% block en_tete %}
    Gestion des Entreprises
{% endblock en_tete %}
        
{% block content %}
    Où voulez vous aller : 
    <p>
        <a href="{{ url_for('enterprise_display') }}">Affichage des entreprises</a></br>
        {% if session['user_role'] == 'commercial' %}
            <a href="{{ url_for('enterprise_creation') }}">Création d'entreprise</a></br>
        {% endif %}
    </p>
{% endblock content %}

{% set retour = 'home' %}