<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>Gestion Utilisateur Epic Events</title>
    </head>
    <body>
        <h1>Bienvenu sur la partie Création des Utilisateurs</h1>
        
        Merci de remplir les différents champs pour la création
        <form action = "user_creation" method="post">
            
            <label for="surname">Prénom :</label>
            <input type="text" name="surname"><br>

            <label for="name">Nom :</label>
            <input type="text" name="name"><br>
            
            <label for="department">Equipe :</label><br>
            <input type="radio" name="department" value="Gestion"/>Gestion<br>
            <input type="radio" name="department" value="Commerciale"/>Commerciale<br>
            <input type="radio" name="department" value="Support"/>Support<br>

            <button type="submit">Enter</button>
        </form>

        {% if message %}
        <p>{{message}}</p>
        {% endif%}

    </body>
</html>