{% extends 'base.html' %}

{% block title %}
    Gestion Utilisateur Epic Events
{% endblock title %}

{% block en_tete %}
    Gestion des Utilisateurs
{% endblock en_tete %}
        
{% block content %}
    Où voulez vous aller : 
    <p>
        <a href="{{ url_for('user_display') }}">Affichage des utilisateurs</a></br>
        {% if session['user_role'] == 'commercial' %}
            <a href="{{ url_for('user_creation') }}">Création d'utilisateur</a></br>
        {% endif %}
    </p>
{% endblock content %}

{% set retour = 'home' %}