{% extends 'base.html' %}

{% block title %}
    Gestion Utilisateur Epic Events
{% endblock title %}

{% block en_tete %}
    Affichage des Utilisateurs
{% endblock en_tete %}
        
{% block content %}
    Voici la liste des collaborateurs : 
    <table>
        <caption>Liste des collaborateurs</caption>
        <tr>
            <th>Nom</th>
            <th>Identifiant</th>
            <th>Equipe</th>
        </tr>
        {% for collaborateur in liste_user %}
            <tr>
                <td>{{collaborateur.complet_name}}</td>
                <td>{{collaborateur.identifiant}}</td>
                <td>{{collaborateur.department}}</td>
            </tr>
        {%endfor%}
    </table>
{% endblock content %}

{% set retour = 'user_home' %}